.Demande {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b7e1f46d;
    padding: 10px 20px;
    width: 380px;
    height: 365px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 84px;
    position: relative;
    margin-bottom: -30px;
    margin-top: -10px;

  }
  
  .blueBox {
    width: 150px;
    height: 60px;
    background-color: #2b6983;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    align-content: center;
    padding-left: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .packagingDetail {
    padding-left: 5px;
    color: #2b6983;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .km {
    font-size: 12px;
    font-weight: 600;
  }
  
  .offre {
    background-color: rgb(235, 157, 12);
    height: 24px;
    margin-top: 70px;
    width: 56px;
    border-radius: 4px;
    font-size: 12px;
    align-content: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .pickup {
    color: #2b6983;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .adress {
    color: #9da4b1;
    font-weight: 400;
    font-size: 12px;
  }
  
  .item4 {
    flex-direction: row;
    display: flex;
  }
  
  .submit {
    background-color: #2b6983;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submitwhite {
    background-color: #ffffff;
    border: none;
    color: #2b6983;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #2b6983;
  }
  
  .expiré{
    background-color: rgba(25, 198, 76, 0.697);
    height: 24px;
    margin-top: 70px;
    width: 56px;
    border-radius: 4px;
    font-size: 12px;
    align-content: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .item3{
    display: flex;
    align-items: flex-start;
  }
  
